# ─── Maven ────────────────────────────────────────
/backend/target/
/backend/build/
*.log

# Maven Wrapper
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/mvnw
/backend/mvnw.cmd

# ─── Angular ──────────────────────────────────────
/frontend/dist/
/frontend/node_modules/
/frontend/.angular/cache

# ─── IntelliJ IDEA ────────────────────────────────
.idea/
*.iml
*.ipr
*.iws

# ─── VS Code ──────────────────────────────────────
.vscode/

# ─── Sistema ──────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Otros ────────────────────────────────────────
HELP.md

