<div class="p-6">
  <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
    Bienvenido, {{ user.username }}
  </h1>

  
 <div class="grid grid-cols-1 gap-4 mt-6 sm:grid-cols-2 lg:grid-cols-3">
    <div
      class="p-6 transition bg-white rounded-lg shadow dark:bg-gray-800 hover:shadow-lg"
    >
      <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200">
        Total de tareas
      </h2>
      <p class="mt-2 text-3xl font-bold text-blue-600">
        {{ totalTasks }}
      </p>
    </div>

    <div
      class="p-6 transition bg-white rounded-lg shadow dark:bg-gray-800 hover:shadow-lg"
    >
      <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200">
        Completadas
      </h2>
      <p class="mt-2 text-3xl font-bold text-green-600">
        {{ completedTasks }}
      </p>
    </div>

    <div
      class="p-6 transition bg-white rounded-lg shadow dark:bg-gray-800 hover:shadow-lg"
    >
      <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200">
        Pendientes
      </h2>
      <p class="mt-2 text-3xl font-bold text-red-600">
        {{ pendingTasks }}
      </p>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-3">
  <!-- Gráfico de Barras -->
  <div class="w-full p-4 bg-white rounded-lg shadow dark:bg-gray-800">
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-200">
      Tareas por Mes
    </h2>
    <canvas baseChart
            class="w-full h-72"
            [data]="barChartData"
            [options]="chartOptions"
            [type]="barChartType">
    </canvas>
  </div>

  <!-- Gráfico de Doughnut -->
  <div class="max-w-md p-4 mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-200">
      Completadas vs Pendientes
    </h2>
    <canvas baseChart
            class="w-full h-64"
            [data]="doughnutChartData"
            [options]="chartOptions"
            [type]="doughnutChartType">
    </canvas>
  </div>

  <!-- Gráfico de Pie -->
  <div class="max-w-md p-4 mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-200">
      Tareas por Usuario
    </h2>
    <canvas baseChart
            class="w-full h-64"
            [data]="pieChartData"
            [options]="chartOptions"
            [type]="pieChartType">
    </canvas>
  </div>
</div>





