<div class="p-6">
    <h1 class="mb-4 font-bold text-3xcl">Tareas</h1>
    <button (click)="createTask()" class="px-4 py-2 mb-4 text-white bg-green-500 rounded hover:bg-green-600">
        + Nueva Tarea
    </button>
    
    <table class="min-w-full bg-white rounded shadow">
        <thead>
            <tr>
                <th class="px-4 py-2 border-b">ID</th>
                <th class="px-4 py-2 border-b">Titulo</th>
                <th class="px-4 py-2 border-b">Descripcion</th>
                <th class="px-4 py-2 border-b">Completada</th>
                <th class="px-4 py-2 border-b">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let task of tasks">
                <td  class="py2 px4 borderer-b"> {{ task.id }} </td>
                <td  class="py2 px4 borderer-b"> {{ task.tittle }}</td>
                <td  class="py2 px4 borderer-b"> {{ task.description }}</td>
                <td  class="py2 px4 borderer-b">
                    <span [class] = "task.completed? 'text-green-600 font-bold' : 'text-red-600 font-bold' ">
                        {{ task.completed ? 'Completada' : 'Pendiente' }}
                    </span>
                </td>
                <td class="space-x-2 py2 px4 borderb">
                    <button (click)="updateTask(task.id)" class="px-2 py-1 text-white rounded bg to-blue-500 hover:bg-blue-600">Editar</button>
                    <button (click)="deleteTask(task.id)" class="px-2 py-1 text-white bg-red-500 rounded hover:bg-red-600">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>